// =============================================================================
// CATEGORY (CSS)
// =============================================================================


// Category header
// -----------------------------------------------------------------------------

.category-header-image {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}
